
*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    background-color: rgba(39,112,250,0.5);
    width: 13px;
    
  
}

::-webkit-scrollbar-thumb{
    background-color: rgb(39,112,250);
}

::-webkit-scrollbar-button{
    background-color:#ccc;
}
body,
ul,
p {
    
    list-style: none;
    /* font-size: 1.2rem; */
    font-family: arial;
}

/* Menu-bar */

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    /* position: fixed; */
    top: 0;
    padding-top: 0;
    align-items: center;
    flex-wrap: wrap;
    background:rgba(39,112,250,0.5);
    width: 100%;
    
/*quebrar se a tela for pequena*/
}

.menu {
    display: flex;
    padding-right: 30px;
    
    
}

.menu li {
    margin-left: 20px;
    
}

header a, #rodape a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    padding-top: 20px;
}
.menu li a {
    
    display: block;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    
    
}

.menu li a:hover{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    color: #9bf0e1;
    -webkit-transition:0.4s;
    
}


/* Fim Menu - bar */




/* Rodapé */

footer{
    margin-top:70px;
    position: relative;
    color: white;
	background: #000;
	padding: 10px 0px 20px 0px;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    /* display: flex;
   
    flex-wrap: wrap; */
    
}

/* colunas do rodapé */
footer .posicao2 {
    /* width: 45%;  Or whatever */
    /* height: 485px; Or whatever */
    margin: auto;  /* Magic! */
    text-align: left;
    /* padding: 30px; */
    
}

/* flex layout */

.flex {
    display: flex;
    /*um intem do lado do outro*/
    flex-wrap: wrap;
    max-width: 600%;
    text-align: left; 
}

/* elementos do layout flex no rodape */
footer .flex>div {
    /* div q está dentro do flex*/
    flex: 1 1 200px;
    /* se expanda , fique menor e tenha base de 200*/
    margin: 10px;
    margin-top: 50px;
    text-align: left;

}



#rodape h4{
    color: #919469;
    font-size: 12px;
    text-transform: uppercase;
    
    }

    
    
    .item-rede-social{
        margin: 5px;
        float: left;
    }

    #rodape ul li{
        margin: 20px;
        margin-left: 0;
    }
    #rodape ul li a{
        text-align: left;
        font-size: 14px;
        font-family: helvetica;
        
        
        
    }

    #rodape ul li a:hover{
            color: #9bf0e1;
            -webkit-transition:  color 0.4s;
        
    }

   
/* fim rodape */
  