<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/contactos.css">
    
    <title>Contactos</title>
</head>
<body>
    <header class="header">
        <a href="index.html">&nbsp;&nbsp;&nbsp;&nbsp; Diversus</a>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="artigos.html">Artigos</a></li>
                <li><a href="contactos.html">Contactos</a></li>
                <li><a href="sobre.html">Sobre nós</a></li>
                <li><a href="cadastro.html">Registre - se</a></li> 
                <li><a href="login.html">Login</a></li>

            </ul>
        </nav>
    </header>



    <div class="contacts">

        <div class="container">

            <h1><span class="azul">Nossos</span> contactos</h1>

                <div class="row">
                    <div class=" coluna1">
                        <!-- primeira linha de fotos -->
                        <div class="linha">
                            <div class="col">
                                <img src="../assets/img/facebook_100px.png" alt="">
                            </div>
                            <div class="col">
                                <img src="../assets/img/instagram_100px.png" alt="">
                            </div>
                        </div>
                        <!-- segunda linha de fotos -->
                        <div class="linha">
                            <div class="col">
                                <img src="../assets/img/linkedin_100px.png" alt="">
                            </div>
                            <div class="col">
                                <img src="../assets/img/twitter_100px.png" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="coluna2">
                        
                        <p><strong><img src="../assets/img/cell_30px.png    " alt=""> Telefone: </strong>928891398 </p>
                        <p><strong><img src="../assets/img/email_30px.png" alt=""> Email: </strong>manuelluvuvamo337@gmail.com </p>
                        <p><strong><img src="../assets/img/facebook_30px.png" alt=""> Facebook: </strong>Manuel António Luvvuvamo</p>
                        <p><strong><img src="../assets/img/instagram_30px.png" alt=""> Instagram: </strong>manuelluvvuvamo</p>
                        <p><strong><img src="../assets/img/linkedin_30px.png" alt=""> Linked-in: </strong>Manuel Luvvuvamo</p>
                        <p><strong><img src="../assets/img/twitter_30px.png" alt=""> Twitter: </strong>Manuel Luvvuvamo</p>
                           

                    </div>
                </div>

            </div>
    
        </div>
    
     
        <!-- Enviar email -->


        <div class=" talk">

            <div class="container">
                <h1>Envie - nos <span class="azul">um email</span></h1>

                <div class="row">

                    <div class="coluna1">
                        <form action="" onsubmit="enviar()">
                            <input type="email" name="escreva seu email" id="" required placeholder="escreva aqui seu email">
                            <br><br>

                            <textarea  name="mensagem" id="mensagem" cols="10" rows="10" required placeholder="Escreva aqui sua mensagem"></textarea><br>

                            <input type="submit" value="Enviar" >
                        </form>
                        
                    </div>
                    <div class="coluna2">
                        <img src="../assets/img/talk.png" alt="">
                    </div>

                </div>

            </div>

        </div>
    <!-- Rodapé -->
    <footer id="rodape">

        <div class="container">

            <div class="flex">

                <div>Diversus</div>
                <div>
                    <h4>Company</h4>
                    <ul class="nav">
                    <li><a href=""> Sobre nós</a></li>
                    <li><a href=""> Empregos</a></li>
                    <li><a href=""> Imprensas</a></li>
                    <li><a href=""> Novidades</a></li>

                    </ul>
                </div>


                <div>
                    <h4>Comunidades</h4>
                    <ul class="nav">
                      <li><a href=""> Escritores</a></li>
                      <li><a href=""> Desenvolvedores</a></li>
                      <li><a href=""> Freelancer</a></li>
                </div>
                
                <div class="redes">
                    <h4>Redes sociais</h4>
                    <ul class="nav">
                        <li><a href="" class ="item-rede-social"> <img src="../assets/img/facebook.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/twitter.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/instagram.png"></a></li>
                    
                      </ul>
                </div>

            </div>
        </div>
        
    </footer>

    <script src="../assets/js/enviar.js"></script>
</body>
</html>