<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu.css">
    
    <title>Contactos</title>
</head>
<body>
    <header class="header">
        <a href="index.html">Diversus</a>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="artigos.html">Artigos</a></li>
                <li><a href="contactos.html">Contactos</a></li>
                <li><a href="sobre.html">Sobre nós</a></li>
                <li><a href="cadastro.html">Registre - se</a></li> 
                <li><a href="login.html">Login</a></li>

            </ul>
        </nav>
    </header>
    
    <div>
        <h2>Contactos</h2>

        <p><strong>Telefone: </strong>928891398 /993784654 </p>
        <p><strong>Email: </strong>manuelluvuvamo337@gmail.com </p>
        <p><strong>Facebook: </strong>Manuel António Luvvuvamo</p>
        <p><strong>Instagram: </strong>manuel_luvvuvamo</p>

    </div>
    
    <footer id="rodape">

        <div class="container">

            <div class="flex">

                <div>Diversus</div>
                <div>
                    <h4>Company</h4>
                    <ul class="nav">
                    <li><a href=""> Sobre nós</a></li>
                    <li><a href=""> Empregos</a></li>
                    <li><a href=""> Imprensas</a></li>
                    <li><a href=""> Novidades</a></li>

                    </ul>
                </div>


                <div>
                    <h4>Comunidades</h4>
                    <ul class="nav">
                      <li><a href=""> Escritores</a></li>
                      <li><a href=""> Desenvolvedores</a></li>
                      <li><a href=""> Freelancer</a></li>
                </div>
                
                <div class="redes">
                    <ul class="nav">
                        <li><a href="" class ="item-rede-social"> <img src="../assets/img/facebook.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/twitter.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/instagram.png"></a></li>
                    
                      </ul>
                </div>

            </div>
        </div>
        
    </footer>
</body>
</html>