<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/ler_artigo.css">
    <title>Artigo</title>
</head>
<body>
    <header class="header">
        <a href="index.html" >&nbsp;&nbsp;&nbsp; Diversus</a>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="artigos.html">Artigos</a></li>
                <li><a href="contactos.html">Contactos</a></li>
                <li><a href="sobre.html">Sobre nós</a></li>
                <li><a href="cadastro.html">Registre - se</a></li> 
                <li><a href="login.html">Login</a></li>

            </ul>
        </nav>
    </header>



    <!-- leitura do Artigo -->


    <div class="base flex">

        <!-- coluna de outros artigos -->
        <div class="coluna1"> 
        
            
            <form action="">
                <h2>Pesquisar</h2>
                <input type="search" placeholder="pesquisar" required aria-live="polite" >
            </form>

            <div class="artigos">

                <h2>Outros artigos</h2>
                <section>
                    <article class="posicao">
                        <figure>
                            <img src="../assets/img/iba - Copia.png" alt="capa do artigo">
                            <figcaption>
                                <h3>A <span class="amarelo">importância</span> de beber <span class="amarelo">água</span></h3>
                               
                                <p> &nbsp;&nbsp;&nbsp;Água. A água corresponde a cerca de 60% - 70% da constituição do corpo humano....</p>
    
                                    <p class="dt"> <small> &nbsp; Publicado aos 23 de agosto de 2021</small></p>
                                    <p class="autor"><small> &nbsp; <strong>Escrito por:</strong> Manuel António Luvuvamo</small></p>
                            </figcaption>
                        </figure>
                        <br>
    
                        <a class="ler_artigo" href="ler_artigo.html"><img src="../assets/img/read.png" alt=""> Ler artigo</a>
                    </article>

                    <!-- artigo 2 -->
                    <article class="posicao">
                        <figure>
                            <img src="../assets/img/iba - Copia.png" alt="capa do artigo">
                            <figcaption>
                                <h3>A <span class="amarelo">importância</span> de beber <span class="amarelo">água</span></h3>
                               
                                <p> &nbsp;&nbsp;&nbsp;Água. A água corresponde a cerca de 60% - 70% da constituição do corpo humano....</p>
    
                                    <p class="dt"> <small> &nbsp; Publicado aos 23 de agosto de 2021</small></p>
                                    <p class="autor"><small> &nbsp; <strong>Escrito por:</strong> Manuel António Luvuvamo</small></p>
                            </figcaption>
                        </figure>
                        <br>
    
                        <a class="ler_artigo" href="ler_artigo.html"><img src="../assets/img/read.png" alt=""> Ler artigo</a>
                    </article>

                    <!-- artigo 3 -->
                    <article class="posicao">
                        <figure>
                            <img src="../assets/img/iba - Copia.png" alt="capa do artigo">
                            <figcaption>
                                <h3>A <span class="amarelo">importância</span> de beber <span class="amarelo">água</span></h3>
                               
                                <p> &nbsp;&nbsp;&nbsp;Água. A água corresponde a cerca de 60% - 70% da constituição do corpo humano....</p>
    
                                    <p class="dt"> <small> &nbsp; Publicado aos 23 de agosto de 2021</small></p>
                                    <p class="autor"><small> &nbsp; <strong>Escrito por:</strong> Manuel António Luvuvamo</small></p>
                            </figcaption>
                        </figure>
                        <br>
    
                        <a class="ler_artigo" href="ler_artigo.html"><img src="../assets/img/read.png" alt=""> Ler artigo</a>
                    </article>
                </section>
            </div>


        </div>

        <!-- coluna do artigo -->
        <div class="coluna2">
            <br>
            <h2>A importância de beber água</h2>
            <dt><small>Publicado aos 07 de agosto de 2021</small></dt>
            <p><small><strong>Escrito por: </strong>Manuel António Luvuvamo</small></p>

            <figure>
                <img src="../assets/img/iba.jpg" alt="">


                <div class="options">

                    <div class="star1">
                        <button class="star" id="star" onclick="star()"> star</button>
                        <button class="unstar" id="unstar" onclick="unstar()">unstar</button>
                    </div >
                    <div class="star1" >
                        <button class="comentar"> <a href="#comentario">comentar</a></button>
                    </div>
                    <div class="star1" >
                        <button class="download">download</button>
                    </div>
                    
                </div>

                <figcaption>
                    <p>
                        Água. A água corresponde a cerca de 60% - 70% da
                         constituição do corpo humano.<br><br>

                    A maioria de nós sabe que é, deveras, essencial beber
                     água. Alguns simplesmente sabem, outros por recomendação médica, sobretudo praticantes de exercícios físicos. A seguir, uma lista de alguns pontos que definem o quão importante é beber água: <br><br>

                    1. CONSTITUI TODAS AS NOSSAS CÉLULAS <br><br>

                    Nosso cérebro é um grande exemplo pois consiste em 90% de água. Em estruturas como a Meninge e fluidos presentes nas articulações a água oferece protecção para seu perfeito funcionamento, age no processo digestivo através do suco gástrico. <br><br>

                    2. HIDRATA O CORPO<br><br>

                    Auxilia na eliminação de toxinas através da urina, oferecendo mais disposição, aumenta a imunidade e melhora a memória.<br><br>

                    3. MEIO DE TRANSPORTE<br><br>

                    Um bom volume de água é fundamental para que o corpo todo seja irrigado e o sangue possa transportar oxigénio, vitaminas e proteínas para todo o organismo.<br><br>

                    4. PREVINE DOENÇAS<br><br>

                    Actua no controlo dos níveis de Ureia e ácido Úrico no sangue, evitando que se elevem, pois uma concentração elevada pode causar perda nos rins ou problemas nas articulações.<br><br>

                    5. FUNÇÃO TERMORREGULADORA<br><br>

                    Quando somos expostos a temperaturas muito altas, nosso corpo precisa resfriar rapidamente, caso contrário as consequências serão severas. Neste momento mais uma importância da água actua: a transpiração. Nosso corpo produz o suor, para que ao entrar em contacto com a pele, evapore e esfrie a pele de forma mais rápida.<br><br>

                    • CONSEQUÊNCIAS DO BAIXO CONSUMO DE ÁGUA<br>
                    ° Desidratação<br>
                    ° Cansaço<br>
                    ° Constipação<br>
                    ° Asma<br>
                    ° Pressão sanguínea irregular<br>
                    ° Colite<br>
                    ° Ressecamento da pele<br>
                    ° Dificuldade na digestão<br>
                    ° Prisão de ventre<br>
                    ° Prejudica o funcionamento dos rins.<br><br>

                    • CONSUMO EXCESSIVO DE ÁGUA<br><br>
                    Apesar da água ser deveras essencial, embora pareça constrangedor, indubitavelmente a regra do “tudo por excesso faz mal” também se aplica aqui. Tal como o baixo consumo o excesso também trás consequências como a intoxicação por água e outros.<br><br>

                    • E agora, para terminar, uma questão que não se quer calar: Qual a quantidade certa de água se deve beber por dia? Então, isto varia de acordo a cada pessoa por factores como: peso, idade, estação do ano, actividades como a prática de exercícios físico, metabolismo, etc.<br><br>

                    E assim termina o artigo de hoje, perguntas no ar? Furos? Contribuições? Deixe aí nos comentários. See you tomorow!<br>
                    </p>
                </figcaption>
            </figure>


            <!-- Comentário -->
            <div class="divComent">

                <form action="" onsubmit="enviar()">
                    
                    <textarea required name="comentario" id="comentario" cols="10" rows="10" placeholder="Escreva seu comentário"  >
                    </textarea>

                    <input type="submit" value="">
                </form>

            </div>
        </div>

        <!-- coluna de comentarios -->
        <div class="coluna3">

            <h2>Comentários</h2>


            <div class="coments">

                <!-- comentário1 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário2 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário3 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário4 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário5 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário6 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário7 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário8 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário9 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
                <!-- comentário10 -->
                <div class="coment">

                    <figure>
                        <img src="../assets/img/Cartoon.png" alt="img-perfil" class="imgperfil">

                        <h3>Manuel António Luvuvamo</h3>
                    </figure>
                    <p>Este artigo é muito bom. A página é boa, mbora seguir nas redes sociasi!</p>

                </div>
            </div>

        </div>
        


    </div>


    <!-- rodape -->

    <footer id="rodape">

        <div class="container">

            <div class="flex">

                <div>Diversus</div>
                <div>
                    <h4>Company</h4>
                    <ul class="nav">
                    <li><a href=""> Sobre nós</a></li>
                    <li><a href=""> Empregos</a></li>
                    <li><a href=""> Imprensas</a></li>
                    <li><a href=""> Novidades</a></li>

                    </ul>
                </div>


                <div>
                    <h4>Comunidades</h4>
                    <ul class="nav">
                      <li><a href=""> Escritores</a></li>
                      <li><a href=""> Desenvolvedores</a></li>
                      <li><a href=""> Freelancer</a></li>
                </div>
                
                <div class="redes">
                    <h4>Redes sociais</h4>
                    <ul class="nav">
                        <li><a href="" class ="item-rede-social"> <img src="../assets/img/facebook.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/twitter.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/instagram.png"></a></li>
                    
                      </ul>
                </div>

            </div>
        </div>
        
    </footer>

<script src="../assets/js/enviar.js"></script>
</body>
</html>