<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/sobre.css">
    <title>Sobre nós</title>
</head>
<body>
    <header class="header">
        <a href="index.html">&nbsp;&nbsp;&nbsp;&nbsp; Diversus</a>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="artigos.html">Artigos</a></li>
                <li><a href="contactos.html">Contactos</a></li>
                <li><a href="sobre.html">Sobre nós</a></li>
                <li><a href="cadastro.html">Registre - se</a></li> 
                <li><a href="login.html">Login</a></li>

            </ul>
        </nav>
    </header>


    

<!-- nossa equipe -->
    <div class="team">

        <div class="container">

            <h1><span class="azul">Nossa</span> equipe</h1>

            <section class="perfis">

                <!-- Membro 1 -->
                <article class="membro">
                    
                    <figure>
                        <img src="../assets/img/boneco.jpg" alt="">

                        <figcaption>
                            <h3>Manuel António Luvuvamo</h3>

                            <p><strong><img src="../assets/img/education.png" alt=""> Formação:</strong> frequência do ensinio médio técnico no curso de Informática.</p>
                            <p><strong><img src="../assets/img/school.png" alt=""> Instituição de ensino:</strong> Instituto de telecomunicações.</p>
                            <p><strong><img src="../assets/img/office.png" alt=""> Função:</strong>Chefe da área de TI.</p>
                            <p><strong><img src="../assets/img/write.png" alt=""> Artigos escritos:</strong> 1 artigo escrito.</p>
                            <p><strong><img src="../assets/img/time.png" alt=""> Membro do Artigo semanal desde:</strong> 07 de Agosto de 2021</p>
                        </figcaption>
                    </figure>
                </article>
                <!-- Membro 2 -->
                <article class="membro">
                    
                    <figure>
                        <img src="../assets/img/boneco.jpg" alt="">

                        <figcaption>
                            <h3>Manuel António Luvuvamo</h3>

                            <p><strong><img src="../assets/img/education.png" alt=""> Formação:</strong> frequência do ensinio médio técnico no curso de Informática.</p>
                            <p><strong><img src="../assets/img/school.png" alt=""> Instituição de ensino:</strong> Instituto de telecomunicações.</p>
                            <p><strong><img src="../assets/img/office.png" alt=""> Função:</strong>Chefe da área de TI.</p>
                            <p><strong><img src="../assets/img/write.png" alt=""> Artigos escritos:</strong> 1 artigo escrito.</p>
                            <p><strong><img src="../assets/img/time.png" alt=""> Membro do Artigo semanal desde:</strong> 07 de Agosto de 2021</p>
                        </figcaption>
                    </figure>
                </article>
                <!-- Membro 3 -->
                <article class="membro">
                    
                    <figure>
                        <img src="../assets/img/boneco.jpg" alt="">

                        <figcaption>
                            <h3>Manuel António Luvuvamo</h3>

                            <p><strong><img src="../assets/img/education.png" alt=""> Formação:</strong> frequência do ensinio médio técnico no curso de Informática.</p>
                            <p><strong><img src="../assets/img/school.png" alt=""> Instituição de ensino:</strong> Instituto de telecomunicações.</p>
                            <p><strong><img src="../assets/img/office.png" alt=""> Função:</strong>Chefe da área de TI.</p>
                            <p><strong><img src="../assets/img/write.png" alt=""> Artigos escritos:</strong> 1 artigo escrito.</p>
                            <p><strong><img src="../assets/img/time.png" alt=""> Membro do Artigo semanal desde:</strong> 07 de Agosto de 2021</p>
                        </figcaption>
                    </figure>
                </article>
            </section>

        </div>

    </div>
 
        <!-- Mais sobre nós -->

        <div class="more">

            <div class="container">

                <h1>Mais <span class="azul">sobre nós</span></h1>

                    <div class="row">
                        <div class=" coluna1">
                            <!-- primeira linha de fotos -->
                            <div class="linha">
                                <div class="col">
                                    <img src="../assets/img/img1.jpg" alt="">
                                </div>
                                <div class="col">
                                    <img src="../assets/img/img2.jpg" alt="">
                                </div>
                            </div>
                            <!-- segunda linha de fotos -->
                            <div class="linha">
                                <div class="col">
                                    <img src="../assets/img/img3.jpg" alt="">
                                </div>
                                <div class="col">
                                    <img src="../assets/img/img4.jpg" alt="">
                                </div>
                            </div>

                        </div>
    
                        <div class="coluna2">
                            <section>
                                <h2>O que o diversus tem</h2>


                                <article>
                                    <h3>Artigos</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </article>

                                <article>
                                    <h3>Missão</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </article>
                                <article>
                                    <h3>Novidades</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </article>
                            </section>

                        </div>
                    </div>

             </div>
        
        </div>


        
    
    <!-- Rodapé -->
    <footer id="rodape">

        <div class="container">

            <div class="flex">

                <div>Diversus</div>
                <div>
                    <h4>Company</h4>
                    <ul class="nav">
                    <li><a href=""> Sobre nós</a></li>
                    <li><a href=""> Empregos</a></li>
                    <li><a href=""> Imprensas</a></li>
                    <li><a href=""> Novidades</a></li>

                    </ul>
                </div>


                <div>
                    <h4>Comunidades</h4>
                    <ul class="nav">
                      <li><a href=""> Escritores</a></li>
                      <li><a href=""> Desenvolvedores</a></li>
                      <li><a href=""> Freelancer</a></li>
                </div>
                
                <div class="redes">
                    <h4>Redes sociais</h4>
                    <ul class="nav">
                        <li><a href="" class ="item-rede-social"> <img src="../assets/img/facebook.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/twitter.png"></a></li>
                        <li><a href="" class="item-rede-social"> <img src="../assets/img/instagram.png"></a></li>
                    
                      </ul>
                </div>

            </div>
        </div>
        
    </footer>
</body>
</html>