<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <header class="header">
        <a href="index.html">&nbsp;&nbsp;&nbsp; Diversus</a>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <!-- <li><a href="cadastro.html">Registre - se</a></li>  -->
                

            </ul>
        </nav>
    </header>

    <div class="login">
        <div class="container ">
            <h2>Entre em sua conta.</h2>
        <form action="" class="form">
            <!-- <label for="email"> <img src="../assets/img/email.png" alt=""></label> -->
            <input  type="email" id="email" name="email" placeholder="email" required autocomplete="email">
            <!-- <br><br> -->

            <!-- <label for="pass"> Senha:</label> -->
            <input type="password" id="pass" name="pass" placeholder="palavra-passe" required>
            
            <input type="submit" name="Login" value="Entrar">
           <a class="registrar" href="cadastro.html">Registrar - se</a>

        </form>

        <img src="../assets/img/login.png" alt="lendo livro" class="imglogin">
        </div>
    </div>


</body>
</html>